.ConfirmationButtons {
  display: flex;
  justify-content: center;
}

.Message {
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}

.YesButton {
  width: 6rem;
  background-color: yellow;
}

.YesButton:hover {
  background-color: red;
}

.NoButton {
  width: 3rem;
  background-color: lightgrey;
}

.NoButton:hover {
  background-color: grey;
}
